.list {
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 40px;

  border-top: 1px solid #2a363b;
}

.profile {
  width: 100%;
  max-width: 280px;
  height: 380px;
  margin-bottom: 10px;
}
.name {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 700;

  color: #2a363b;

  text-transform: uppercase;
}
.char {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .list {
    display: grid;
    grid-template-columns: repeat(2, 294px);
    grid-auto-rows: 440px;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }

  .profile {
    width: 294px;
  }
}

@media screen and (min-width: 1024px) {
  .list {
    grid-template-columns: repeat(3, 274px);
  }

  .profile {
    width: 274px;
  }
}

@media screen and (max-width: 767px) {
  .item:not(:last-child) {
    margin-bottom: 20px;
  }
}
