.list {
  padding-top: 20px;
  padding-bottom: 40px;

  border-top: 1px solid #2a363b;
}

.name {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 700;

  color: #2a363b;
}
.content {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 14px;
  font-weight: 400;
}
