.btn {
  margin-top: 20px;
  padding: 10px;

  font-size: 14px;

  background-color: #2cac60;
  color: #fff;
  border: none;
}

.title {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
}

.text {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
}

.item {
  margin-bottom: 10px;
}

.link {
  padding: 12px;
  font-weight: 700;
  font-size: 18px;
  color: #2a363b;

  text-decoration: none;
}

.activeLink {
  composes: link;
  color: #2cac60;
}
